* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 8vw;
} 

.navbar-form-search {
  position: relative;
  .form-control {
    width: 15.625rem;
  }

  .btn {
    border: 0;
    background: transparent;
    font-size: 1.125rem;
    &:active,
    &:hover,
    &:focus {
      color: #000;
      outline: none;
      box-shadow: none;
    }
  }
  
  .search-form-container {
    text-align: right;
    position: absolute;
    width: 18.75rem;
    overflow: hidden;
    background: #fff;
    right: 3.75rem;
    top: 0;
    z-index: 9;
    transition: all .3s ease-in-out;
    &.hdn {
      width: 0;
    }
    
    .search-input-group {
      width: 18.75rem;
    }
  }
}

main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  padding: 1.5rem;
}

#content-card {
  margin-botttom: 1rem;
}

.col-md-8 > .card-body {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

h6.card-subtitle {
  color: #458458
}


.fab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  position: absolute;
  bottom: 30px; right: 30px;
  
  }

.fab {
    position: relative;
    height: 70px; width: 70px;
    border-radius: 50%;
    
   
    .fab-content {
      display: flex;
      align-items: center; 
      justify-content: center;
      height: 100%; width: 100%;
      border-radius: 50%;
      color: #458458
    }
  }
 